@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

/* .header{
  position: relative;
  width: 50;
  height: 120;
} */
body{
  background-image: url("img/gravel.png");
}
.tablestyle{
text-align: center;
width:45em;
height: 20em;
box-shadow: 0 0 7px 0;
  background-color: #EEEE;
  margin: 180px auto;

}
